In [1]:
import pandas as pd
import numpy as np

In [19]:
scores = pd.read_csv('score.csv')

In [20]:
scores.columns

Index(['Unnamed: 0', 'fraud', '0', '1'], dtype='object')

In [24]:
scores.set_index(np.arange(len(scores)),inplace = True)

In [26]:
length = len(scores)

In [27]:
int(length/100)

170

In [28]:
goods = scores[scores['fraud'] == 0]
goods.shape

(12678, 3)

In [29]:
bads = scores[scores['fraud'] == 1]
bads.shape

(4338, 3)

In [30]:
numgoods = len(goods)
numbads = len(bads)

In [37]:
x

      1  index
24  137     24

In [38]:
y

     1  index
24  33     24

In [49]:
dist1

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1.])

In [47]:
sum(subset['fraud'])

33

In [51]:
x

      1  index
24  137     24

In [56]:
bads['1']

4085    24
4086    24
4089    24
4090    24
4093    24
4104    24
4105    24
4109    24
4115    24
4122    24
4126    24
4133    24
4134    24
4141    24
4152    24
4154    24
4155    24
4163    24
4170    24
4171    24
4178    24
4179    24
4183    24
4187    24
4189    24
4198    24
4209    24
4210    24
4217    24
4223    24
4226    24
4235    24
4249    24
Name: 1, dtype: int64

In [57]:
subset

      fraud   0   1
4080      0  75  24
4081      0  75  24
4082      0  75  24
4083      0  75  24
4084      0  75  24
4085      1  75  24
4086      1  75  24
4087      0  75  24
4088      0  75  24
4089      1  75  24
4090      1  75  24
4091      0  75  24
4092      0  75  24
4093      1  75  24
4094      0  75  24
4095      0  75  24
4096      0  75  24
4097      0  75  24
4098      0  75  24
4099      0  75  24
4100      0  75  24
4101      0  75  24
4102      0  75  24
4103      0  75  24
4104      1  75  24
4105      1  75  24
4106      0  75  24
4107      0  75  24
4108      0  75  24
4109      1  75  24
...     ...  ..  ..
4220      0  75  24
4221      0  75  24
4222      0  75  24
4223      1  75  24
4224      0  75  24
4225      0  75  24
4226      1  75  24
4227      0  75  24
4228      0  75  24
4229      0  75  24
4230      0  75  24
4231      0  75  24
4232      0  75  24
4233      0  75  24
4234      0  75  24
4235      1  75  24
4236      0  75  24
4237      0  75  24
4238      0  75  24
4239      0  75  24
4240      0  75  24
4241      0  75  24
4242      0  75  24
4243      0  75  24
4244      0  75  24
4245      0  75  24
4246      0  75  24
4247      0  75  24
4248      0  75  24
4249      1  75  24

[170 rows x 3 columns]

In [48]:
variable = '1'

for j in range(20):
    subset = scores.iloc[170*i:170*(i+1)]
    
    goods = subset[subset['fraud'] == 0]
    bads = subset[subset['fraud'] == 1]
    numgoods = len(goods)
    numbads = len(bads)
    
    variable_max = subset[variable].max()
    x = pd.DataFrame(goods[variable].value_counts().sort_index())
    x['index'] = x.index
    y = pd.DataFrame(bads[variable].value_counts().sort_index())
    y['index'] = y.index
    dist1 = np.zeros(variable_max + 1)
    dist2 = np.zeros(variable_max + 1)
    dif = np.zeros(variable_max + 1)
    for i in range(variable_max + 1):
        if i in x['index']:
            dist1[i] = x.loc[i,variable]
        if i in y['index']:
            dist2[i] = y.loc[i, variable]
    dist1 = dist1 / numgoods
    dist2 = dist2 / numbads
    dif[0] = dist1[0] - dist2[0]
    #for i in range(1,variable_max + 1):
    #    dist1[i] = dist1[i-1] + dist1[i]
    #    dist2[i] = dist2[i-1] + dist2[i]
    #    dif[i] = dist1[i] - dist2[i]

    print('for {} %, KS is {}'.format(j,dif.max() * 100))

for 0 %, KS is 0.0
for 1 %, KS is 0.0
for 2 %, KS is 0.0
for 3 %, KS is 0.0
for 4 %, KS is 0.0
for 5 %, KS is 0.0
for 6 %, KS is 0.0
for 7 %, KS is 0.0
for 8 %, KS is 0.0
for 9 %, KS is 0.0
for 10 %, KS is 0.0
for 11 %, KS is 0.0
for 12 %, KS is 0.0
for 13 %, KS is 0.0
for 14 %, KS is 0.0
for 15 %, KS is 0.0
for 16 %, KS is 0.0
for 17 %, KS is 0.0
for 18 %, KS is 0.0
for 19 %, KS is 0.0

In [33]:
dif

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0.])