In [108]:
import pandas as pd
import numpy as np

In [109]:
data_full = pd.read_excel('/Users/chiang/Desktop/USC/s2/DSO562/w2/NY property 1 million.xlsx')

In [110]:
backup= data_full

In [111]:
def get_matched_value(string):
    val = ref_table.loc[string]
    return val

def boro_input(col_name):
    global ref_table
    data_full[col_name]=data_full[col_name].replace(0, np.nan)
    ref_table = data_full[['BORO',col_name]].groupby('BORO').mean()
    ref_table = round(ref_table)
    data_full['AVG_'+col_name] = data_full['BORO'].apply(get_matched_value) 
    data_full[col_name].fillna(data_full['AVG_'+col_name],inplace=True )

In [112]:
data_full.columns

Index(['RECORD', 'BBLE', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER', 'BLDGCL',
       'TAXCLASS', 'LTFRONT', 'LTDEPTH', 'STORIES', 'FULLVAL', 'AVLAND',
       'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'STADDR', 'ZIP', 'EXMPTCL',
       'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2', 'EXTOT2',
       'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE'],
      dtype='object')

In [118]:
data_full['NA_COUNT_PRE'] = data_full.isna().sum(axis=1)

In [119]:
# drop'BLOCK','OWNER','STADDR','AVLAND2', 'AVTOT2', 'EXLAND2', 'EXTOT2','EXCD2', 'PERIOD', 'YEAR', 'VALTYPE'

In [120]:
data_full = data_full.drop(columns=['BLOCK', 'OWNER','STADDR','AVLAND2','AVTOT2','EXLAND2','EXTOT2','EXCD2','PERIOD','YEAR','VALTYPE'])

In [121]:
data_full['BORO'] = data_full['BBLE'].str[:1]

In [122]:
data_full.columns

Index(['RECORD', 'BBLE', 'LOT', 'EASEMENT', 'BLDGCL', 'TAXCLASS', 'LTFRONT',
       'LTDEPTH', 'STORIES', 'FULLVAL', 'AVLAND', 'AVTOT', 'EXLAND', 'EXTOT',
       'EXCD1', 'ZIP', 'EXMPTCL', 'BLDFRONT', 'BLDDEPTH', 'NA_COUNT_PRE',
       'BORO'],
      dtype='object')

In [123]:
data_full.describe()

,RECORD,LOT,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,AVTOT,EXLAND,EXTOT,EXCD1,ZIP,BLDFRONT,BLDDEPTH,NA_COUNT_PRE
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,996433.000000,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,622642.000000,1.022219e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,5.242880e+05,3.700924e+02,3.617425e+01,8.827643e+01,5.063363,8.804877e+05,8.599503e+04,2.307582e+05,3.681179e+04,9.254381e+04,1604.500100,1.093532e+04,2.301872e+01,4.007421e+01,6.663956e+00
std,3.026977e+05,8.605382e+02,7.373356e+01,7.547885e+01,8.431372,1.170293e+07,4.100755e+06,6.951206e+06,4.024330e+06,6.578281e+06,1388.131676,5.265759e+02,3.578847e+01,4.303640e+01,1.514894e+00
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1010.000000,1.000100e+04,0.000000e+00,0.000000e+00,1.000000e+00
25%,2.621445e+05,2.300000e+01,1.900000e+01,8.000000e+01,2.000000,3.030000e+05,9.160000e+03,1.838500e+04,0.000000e+00,0.000000e+00,1017.000000,1.045300e+04,1.500000e+01,2.600000e+01,6.000000e+00
50%,5.242880e+05,4.900000e+01,2.500000e+01,1.000000e+02,2.000000,4.460000e+05,1.364600e+04,2.533900e+04,1.620000e+03,1.620000e+03,1017.000000,1.121500e+04,2.000000e+01,3.900000e+01,7.000000e+00
75%,7.864315e+05,1.460000e+02,4.000000e+01,1.000000e+02,3.000000,6.190000e+05,1.970600e+04,4.609500e+04,1.620000e+03,2.090000e+03,1017.000000,1.136400e+04,2.400000e+01,5.100000e+01,8.000000e+00
max,1.048575e+06,9.978000e+03,9.999000e+03,9.999000e+03,119.000000,6.150000e+09,2.668500e+09,4.668309e+09,2.668500e+09,4.668309e+09,7170.000000,3.380300e+04,7.575000e+03,9.393000e+03,1.200000e+01

In [124]:
data_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
RECORD          1048575 non-null int64
BBLE            1048575 non-null object
LOT             1048575 non-null int64
EASEMENT        4043 non-null object
BLDGCL          1048575 non-null object
TAXCLASS        1048575 non-null object
LTFRONT         1048575 non-null int64
LTDEPTH         1048575 non-null int64
STORIES         996433 non-null float64
FULLVAL         1048575 non-null int64
AVLAND          1048575 non-null int64
AVTOT           1048575 non-null int64
EXLAND          1048575 non-null int64
EXTOT           1048575 non-null int64
EXCD1           622642 non-null float64
ZIP             1022219 non-null float64
EXMPTCL         14992 non-null object
BLDFRONT        1048575 non-null int64
BLDDEPTH        1048575 non-null int64
NA_COUNT_PRE    1048575 non-null int64
BORO            1048575 non-null object
dtypes: float64(3), int64(12), object(6)
memory usage: 168.0+ MB

In [125]:
#LTFRONT LTDEPTH STORIES ZIP BLDFRONT BLDDEPTH
#replace 0 and nan

In [126]:
for c in ['LTFRONT', 'LTDEPTH', 'STORIES', 'ZIP', 'BLDFRONT', 'BLDDEPTH']:
    print('processing {} ...'.format(c))
    boro_input(c)

processing LTFRONT ...
processing LTDEPTH ...
processing STORIES ...
processing ZIP ...
processing BLDFRONT ...
processing BLDDEPTH ...

In [127]:
data_full.describe()

,RECORD,LOT,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,AVTOT,EXLAND,EXTOT,...,ZIP,BLDFRONT,BLDDEPTH,NA_COUNT_PRE,AVG_LTFRONT,AVG_LTDEPTH,AVG_STORIES,AVG_ZIP,AVG_BLDFRONT,AVG_BLDDEPTH
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,...,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,5.242880e+05,3.700924e+02,4.579210e+01,1.063619e+02,5.041698e+00,8.804877e+05,8.599503e+04,2.307582e+05,3.681179e+04,9.254381e+04,...,1.093295e+04,3.242548e+01,5.497370e+01,6.663956e+00,4.568983e+01,1.061558e+02,5.224963e+00,1.093308e+04,3.243511e+01,5.493858e+01
std,3.026977e+05,8.605382e+02,7.276721e+01,6.486276e+01,8.292891e+00,1.170293e+07,4.100755e+06,6.951206e+06,4.024330e+06,6.578281e+06,...,5.261774e+02,3.563474e+01,4.029975e+01,1.514894e+00,1.525503e+01,6.120366e+00,5.564073e+00,5.205395e+02,1.529673e+01,1.942839e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.000100e+04,1.000000e+00,1.000000e+00,1.000000e+00,3.300000e+01,1.010000e+02,2.000000e+00,1.003500e+04,2.500000e+01,4.000000e+01
25%,2.621445e+05,2.300000e+01,2.100000e+01,1.000000e+02,2.000000e+00,3.030000e+05,9.160000e+03,1.838500e+04,0.000000e+00,0.000000e+00,...,1.045200e+04,2.000000e+01,3.700000e+01,6.000000e+00,3.300000e+01,1.010000e+02,3.000000e+00,1.046400e+04,2.500000e+01,4.400000e+01
50%,5.242880e+05,4.900000e+01,3.000000e+01,1.000000e+02,2.000000e+00,4.460000e+05,1.364600e+04,2.533900e+04,1.620000e+03,1.620000e+03,...,1.121500e+04,2.200000e+01,4.600000e+01,7.000000e+00,4.100000e+01,1.040000e+02,3.000000e+00,1.122000e+04,2.600000e+01,5.200000e+01
75%,7.864315e+05,1.460000e+02,4.900000e+01,1.040000e+02,3.000000e+00,6.190000e+05,1.970600e+04,4.609500e+04,1.620000e+03,2.090000e+03,...,1.136400e+04,2.700000e+01,5.800000e+01,8.000000e+00,4.800000e+01,1.070000e+02,3.000000e+00,1.138000e+04,2.600000e+01,5.200000e+01
max,1.048575e+06,9.978000e+03,9.999000e+03,9.999000e+03,1.190000e+02,6.150000e+09,2.668500e+09,4.668309e+09,2.668500e+09,4.668309e+09,...,3.380300e+04,7.575000e+03,9.393000e+03,1.200000e+01,8.100000e+01,1.200000e+02,1.900000e+01,1.138000e+04,7.000000e+01,1.020000e+02

In [128]:
data_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 27 columns):
RECORD          1048575 non-null int64
BBLE            1048575 non-null object
LOT             1048575 non-null int64
EASEMENT        4043 non-null object
BLDGCL          1048575 non-null object
TAXCLASS        1048575 non-null object
LTFRONT         1048575 non-null float64
LTDEPTH         1048575 non-null float64
STORIES         1048575 non-null float64
FULLVAL         1048575 non-null int64
AVLAND          1048575 non-null int64
AVTOT           1048575 non-null int64
EXLAND          1048575 non-null int64
EXTOT           1048575 non-null int64
EXCD1           622642 non-null float64
ZIP             1048575 non-null float64
EXMPTCL         14992 non-null object
BLDFRONT        1048575 non-null float64
BLDDEPTH        1048575 non-null float64
NA_COUNT_PRE    1048575 non-null int64
BORO            1048575 non-null object
AVG_LTFRONT     1048575 non-null float64
AVG_LTDEPTH     1048575 non-null float64
AVG_STORIES     1048575 non-null float64
AVG_ZIP         1048575 non-null float64
AVG_BLDFRONT    1048575 non-null float64
AVG_BLDDEPTH    1048575 non-null float64
dtypes: float64(13), int64(8), object(6)
memory usage: 216.0+ MB

In [129]:
data_full['NA_COUNT_POST'] = data_full.isna().sum(axis=1)

In [130]:
data_full.describe()

,RECORD,LOT,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,AVTOT,EXLAND,EXTOT,...,BLDFRONT,BLDDEPTH,NA_COUNT_PRE,AVG_LTFRONT,AVG_LTDEPTH,AVG_STORIES,AVG_ZIP,AVG_BLDFRONT,AVG_BLDDEPTH,NA_COUNT_POST
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,...,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,5.242880e+05,3.700924e+02,4.579210e+01,1.063619e+02,5.041698e+00,8.804877e+05,8.599503e+04,2.307582e+05,3.681179e+04,9.254381e+04,...,3.242548e+01,5.497370e+01,6.663956e+00,4.568983e+01,1.061558e+02,5.224963e+00,1.093308e+04,3.243511e+01,5.493858e+01,2.388049e+00
std,3.026977e+05,8.605382e+02,7.276721e+01,6.486276e+01,8.292891e+00,1.170293e+07,4.100755e+06,6.951206e+06,4.024330e+06,6.578281e+06,...,3.563474e+01,4.029975e+01,1.514894e+00,1.525503e+01,6.120366e+00,5.564073e+00,5.205395e+02,1.529673e+01,1.942839e+01,5.172707e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,3.300000e+01,1.010000e+02,2.000000e+00,1.003500e+04,2.500000e+01,4.000000e+01,0.000000e+00
25%,2.621445e+05,2.300000e+01,2.100000e+01,1.000000e+02,2.000000e+00,3.030000e+05,9.160000e+03,1.838500e+04,0.000000e+00,0.000000e+00,...,2.000000e+01,3.700000e+01,6.000000e+00,3.300000e+01,1.010000e+02,3.000000e+00,1.046400e+04,2.500000e+01,4.400000e+01,2.000000e+00
50%,5.242880e+05,4.900000e+01,3.000000e+01,1.000000e+02,2.000000e+00,4.460000e+05,1.364600e+04,2.533900e+04,1.620000e+03,1.620000e+03,...,2.200000e+01,4.600000e+01,7.000000e+00,4.100000e+01,1.040000e+02,3.000000e+00,1.122000e+04,2.600000e+01,5.200000e+01,2.000000e+00
75%,7.864315e+05,1.460000e+02,4.900000e+01,1.040000e+02,3.000000e+00,6.190000e+05,1.970600e+04,4.609500e+04,1.620000e+03,2.090000e+03,...,2.700000e+01,5.800000e+01,8.000000e+00,4.800000e+01,1.070000e+02,3.000000e+00,1.138000e+04,2.600000e+01,5.200000e+01,3.000000e+00
max,1.048575e+06,9.978000e+03,9.999000e+03,9.999000e+03,1.190000e+02,6.150000e+09,2.668500e+09,4.668309e+09,2.668500e+09,4.668309e+09,...,7.575000e+03,9.393000e+03,1.200000e+01,8.100000e+01,1.200000e+02,1.900000e+01,1.138000e+04,7.000000e+01,1.020000e+02,3.000000e+00

In [131]:
data_full.to_csv('NY_property_v2.csv')

In [132]:
import random

In [134]:
array = list(np.arange(0,1048575))
index = random.sample(array, 100)
subset_100 = data_full.iloc[index,:]
index = random.sample(array, 10000)
subset_10000 = data_full.iloc[index,:]
index = random.sample(array, 100000)
subset_100000 = data_full.iloc[index,:]

In [135]:
pd.DataFrame(subset_100).to_csv('subset_100_v2.csv')
pd.DataFrame(subset_10000).to_csv('subset_10000_v2.csv')
pd.DataFrame(subset_100000).to_csv('subset_100000_v2.csv')

In [ ]:
#------ 這是分隔線--------------

In [76]:
data = pd.read_csv('subset_10000.csv')
data = data.iloc[:,1:]

In [77]:
data.columns

Index(['RECORD', 'BBLE', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER', 'BLDGCL',
       'TAXCLASS', 'LTFRONT', 'LTDEPTH', 'STORIES', 'FULLVAL', 'AVLAND',
       'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'STADDR', 'ZIP', 'EXMPTCL',
       'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2', 'EXTOT2',
       'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE'],
      dtype='object')

In [78]:
data = data.drop(columns=['BLOCK', 'OWNER','STADDR','AVLAND2','AVTOT2','EXLAND2','EXTOT2','EXCD2','PERIOD','YEAR','VALTYPE'])

In [79]:
data['BORO'] = data['BBLE'].str[:1]

In [80]:
data.columns

Index(['RECORD', 'BBLE', 'LOT', 'EASEMENT', 'BLDGCL', 'TAXCLASS', 'LTFRONT',
       'LTDEPTH', 'STORIES', 'FULLVAL', 'AVLAND', 'AVTOT', 'EXLAND', 'EXTOT',
       'EXCD1', 'ZIP', 'EXMPTCL', 'BLDFRONT', 'BLDDEPTH', 'BORO'],
      dtype='object')

In [83]:
def get_matched_value(string):
    val = ref_table.loc[string]
    return val

def boro_input(col_name):
    global ref_table
    data[col_name]=data[col_name].replace(0, np.nan)
    ref_table = data[['BORO',col_name]].groupby('BORO').mean()
    ref_table = round(ref_table)
    data['AVG_'+col_name] = data['BORO'].apply(get_matched_value) 
    data[col_name].fillna(data['AVG_'+col_name],inplace=True )

In [84]:
data['LTFRONT'].describe()

count    10000.00000
mean        36.56080
std         71.61811
min          0.00000
25%         19.00000
50%         25.00000
75%         40.00000
max       4318.00000
Name: LTFRONT, dtype: float64

In [85]:
boro_input('LTFRONT')

In [86]:
data['LTFRONT'].describe()

count    10000.000000
mean        45.941100
std         70.555478
min          1.000000
25%         21.000000
50%         30.000000
75%         50.000000
max       4318.000000
Name: LTFRONT, dtype: float64

In [89]:
data['STORIES'].describe()

count    9470.000000
mean        5.028405
std         8.339907
min         1.000000
25%         2.000000
50%         2.000000
75%         3.000000
max        70.000000
Name: STORIES, dtype: float64

In [90]:
boro_input('STORIES')

In [91]:
data['STORIES'].describe()

count    10000.000000
mean         4.996200
std          8.194223
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max         70.000000
Name: STORIES, dtype: float64

In [39]:
#data[data['ZIP'].isna()].sort_values('BLOCK')

In [11]:
ref_table = data[['BORO','ZIP']].groupby('BORO').mean()

In [31]:
ref_table = round(ref_table)
ref_table

          ZIP
BORO
1     10037.0
2     10464.0
3     11220.0
4     11383.0
5     10308.0

In [18]:
ref_table.loc['1']

ZIP    10036.621465
Name: 1, dtype: float64

In [23]:
def get_matched_value(string):
    val = ref_table.loc[string]
    return val

In [28]:
data['AVG_ZIP'] = data['BORO'].apply(get_matched_value)

In [37]:
data['ZIP'].fillna(data['AVG_ZIP'],inplace=True )

In [41]:
boro_input('STORIES')

In [44]:
data[data['STORIES'].isna()]

Empty DataFrame
Columns: [RECORD, BBLE, BLOCK, LOT, EASEMENT, OWNER, BLDGCL, TAXCLASS, LTFRONT, LTDEPTH, STORIES, FULLVAL, AVLAND, AVTOT, EXLAND, EXTOT, EXCD1, STADDR, ZIP, EXMPTCL, BLDFRONT, BLDDEPTH, AVLAND2, AVTOT2, EXLAND2, EXTOT2, EXCD2, PERIOD, YEAR, VALTYPE, BORO, AVG_ZIP, AVG_STORIES]
Index: []

[0 rows x 33 columns]

In [46]:
#data